/************************************
smaller than 998
************************************/
@media screen and (max-width: 998px) {
	body{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#header{
		width: 95%;
		padding: 0;
		/*background: #accded;*/
	}
	#logo{
		width: 100%;
	}
	.nav-v a{
		font-size: 16px;
	}
	.primaryNav{
		width: 100%;
	}
	.primaryNav a{
		font-size: 16px;
	}
	.wraper, .wraper-sh, .presentation, .footer, .innerFooter{
		min-width: 440px;
	}
	.feature,.topic, .topicPic, .enterprise, .tuts, .blog, .faq, .support, .browser, .winintro {
  	width: 95%;
	}
	.presentation{
		width: 95%;
	}
	.l-slogan{
		width: 44%;
	}
	.r-slogan{
		width: 44%;
	}
	.r-display, .l-display{
		width: 54%;
		margin: 0 4px 0 0;
		padding: 0;
	}
	.r-display img, .l-display img{
		width: 100%;
		height: auto;
	}
	.enterprise ul li{
	  float: left;
	  font-size: 16px;
	  line-height: 24px;
	  /*display: inline;*/
	  width: 90%;
	}
	.f14-w, .f14-b{
		font-size: 16px;
		line-height: 24px
	}
	.f64-w, .f64-b{
		font-size: 48px;
		line-height: 56px
	}
	.btn{
		font-size: 16px;
	}
	.topic ul{
		width: 100%;
	}
	 .topic ul a{
	 	font-size: 14px;
	 }
	.topic ul li{
		width: 23%;
		margin: 0 2% 0 0;
	}
	.topicPic .iterm{
		width: 100%;
	}
	.topicPic .iterm li, .topicPic ul li{
		width: 23%;
		/*height: 200px;*/
		margin: 20px 2% 0 0;
		padding: 0;
	}
	.topicPic .iterm li img{
		width: 100%;
		height: auto;
	}
	#footer .innerFooter{
 	 width: 95%;
 	}
}


/************************************
smaller than 640px
************************************/
@media screen and (max-width: 720px) {
	body{
		width: 100%;
		min-width: 440px;
		/*没有专门定义背景色的wraper是会透过去直接显示body的背景的*/
		/*因此要避免出现横向滚动条拉到右边后没有背景的问题就要从body的min-width入手*/
		margin: 0;
		padding: 0;
		/*background: #ACCDED;*/
	}
	#headerCtn{
		position: static;
	}
	#header{
		width: 95%;
		height: 88px;
		padding: 0;
		min-width: 440px;
		/*background: #accded;*/
	}
	#logo{
		width: 100%;
		height: 32px;
		margin: 8px 0 0 0;
	}
	.nav-v a{
		font-size: 16px;
	}
	.bd{
		padding:0;
	}
	.primaryNav{
		width: 100%;
		min-width: 440px;
		bottom: 4px;
		padding: 0;
	}
	.primaryNav li{
		margin: 0 12px 0 0;
	}
	.primaryNav a{
		font-size: 16px;
	}
	.wraper, .wraper-sh, .presentation, .footer, .innerFooter{
		min-width: 440px;
		/*margin:;*/
	}
	.feature,.topic, .topicPic, .enterprise, .tuts, .blog, .faq, .support, .browser, .intro,  .winintro,.joinus, .location{
  	width: 90%;
  	padding-left:0;
  	padding-right: 0;
  	/*margin: 0 0 0 2%;*/
  	min-width: 440px;

	}
	.presentation{
		width: 100%;
  		min-width: 440px;

	}
	.l-slogan, .r-slogan, .featureDescribe, .jobs{
		float: none;
		width: 90%;
		/*min-width: 440px;*/
		margin: 0 auto 0 5% ;
		padding: 20px 0 10px 0;
	}
	.featureDescribe{
		margin: 0;
	}
	.r-display, .l-display, .featureThmb{
		float: none;
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.r-display img, .l-display img, .joinus img, .location img, .featureThmb img{
		width: 95%;
		height: auto;
		float: none;
		margin: 0 0 0 2%;
	}
	.f14-w, .f14-b{
		font-size: 16px;
		line-height: 24px
	}
	.f64-w, .f64-b{
		font-size: 48px;
		line-height: 56px
	}
	.jobs ol p{
	  font-size: 22px;
	  margin:10px 0 10px -30px;
	  /*padding:0 0 0 -20px;*/
	}
	.jobs ol li{
	  margin:0;
	  padding:0 0 5px 0;
	  font-size: 16px;
	  line-height: 24px;
	}
	.topic ul{
		width: 100%;
	}
	 .topic ul a{
	 	font-size: 18px;
	 }
	.topic ul li{
		width: 23%;
		margin: 0 2% 0 0;
	}
	.topicPic .iterm li{
		width: 48%;
		margin: 20px 2% 0 0;
		padding: 0 0 20px 0;
	}
	.location h1 {
	  /*float: left;*/
	  /*clear: right;*/
	  margin:0;
	  padding: 0;
	  color: #454545;
	  font-size: 66px;;
	  line-height: 66px;
	}
	.location p {
	  /*float: left;*/
	  /*clear: right;*/
	  margin:0;
	  padding: 0;
	  color: #454545;
	  font-size: 18px;
	  line-height: 24px;
	}
	#footer .innerFooter{
 	 width: 95%;
 	 min-width: 440px;
 	}
 	#footer a{
 		padding: 0;
 		text-align: center;
 	}
}



