html, body{
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
	color: #000;
	background-color: #fff;
	background-image: none;
	background-repeat: repeat;
	background-position: top left;
	direction: ltr;
	font-size: 88%;
	-webkit-font-smoothing: antialiased;
}
body {
	-moz-user-select: none;  
	-webkit-user-select: none;  
	-ms-user-select: none;  
}

/*隐藏聚焦时显示的黄色边框*/
input, button, select, textarea, ul, li {
	outline: none;
	font-family: "Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 5px 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul, menu, dir {
	display: block;
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 40;
}

/*隐藏默认的，自己设置*/
input[type="checkbox"], body:not(.IE_M9) input[type="radio"] {
	opacity: 0.8;
}

.menu-ct >a{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

 /* 隐藏显示的元素class，仍然在页面中占据布局 */
.hidden {
	visibility: hidden;
}

/* 不显示的元素，不占用页面的布局 */
.button-group .no-display {
	display: none;
}
.no-display a {
	visibility: hidden;
}

/*------------------webkit专有属性------------------------*/
::-webkit-scrollbar {
	width: 17px;
	height: 17px;
	background-color: #f0f0f0;
	border: none;
}

::-webkit-scrollbar-thumb {
	background-color: #cdcdcd;
	border: 1px solid #f0f0f0;
}
::-webkit-scrollbar-corner {
	background-color: #f0f0f0;
}

/* 垂直滚动条 */
::-webkit-scrollbar-button{
  background-image: url(../images/controls.png);
  background-repeat: no-repeat;
  background-color: #f0f0f0;
}

/*垂直滚动条 渐减按钮*/
::-webkit-scrollbar-button:vertical:decrement {
  background-position: -1px -358px;
  height: 33px;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
	background-color: #DADADA;
  background-position: -1px -462px;
}

::-webkit-scrollbar-button:vertical:decrement:active {
	background-color: #606060;
  background-position: -1px -566px;
}


/*垂直滚动条 渐增按钮*/
::-webkit-scrollbar-button:vertical:increment {
  background-position: -1px -391px;
  height: 33px;
}

::-webkit-scrollbar-button:vertical:increment:hover {
	background-color: #DADADA;
  background-position: -1px -495px;
}

::-webkit-scrollbar-button:vertical:increment:active {
	background-color: #606060;
  background-position: -1px -599px;
}


/*水平滚动条 渐减按钮*/
::-webkit-scrollbar-button:horizontal:decrement {
  background-position: 13px -425px;
  width: 33px;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
	background-color: #DADADA;
  background-position: 13px -529px;
}

::-webkit-scrollbar-button:horizontal:decrement:active {
	background-color: #606060;
  background-position: 13px -633px;
}


/*水平滚动条 渐增按钮*/
::-webkit-scrollbar-button:horizontal:increment {
  background-position: 1px -444px;
  width: 33px;
}

::-webkit-scrollbar-button:horizontal:increment:hover {
	background-color: #DADADA;
  background-position: 1px -548px;
}

::-webkit-scrollbar-button:horizontal:increment:active {
	background-color: #606060;
  background-position: 1px -652px;
}
/* webkit专用属性 */


/*-----------------------------------------*/

.dropdown-menu-larger {
	background-position: -82px -33px;
	background-image: url(../images/c4.png);
	width: 11px;
	height: 9px;
	border: 0;
	padding: 0;
	margin: 0;
}

.drop-down-small,
.sort-item-selected {
	background-image: url(../images/strip_metro_sp2.png);
	border: 0;
	padding: 0;
	margin: 0;
	*background-position: -34px -10px;
}

.drop-down-small {
	background-position: -35px -10px;
	width: 9px;
	height:7px;
}
.sort-item-selected {
	width: 8px;
	height: 11px;
	background-position: -35px -155px;
}

/*--------------------------------button组件------------------------------*/

.button-group {
	display: inline-block;
	height: 40px;
	font-size:0;
}
.button-group li{
	display: inline-block;
	position: relative;
	top: 0;
	height: 40px;
	font-size: 15px;
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 38px;
	vertical-align:top;
	*display:inline;
	*zoom:1;
}
/*顶部按钮*/
.wiz-button,
.sending {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	margin: 0;
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.new-doc-icon {
	float:left;
	display:inline;
	height: 26px;
	width: 26px;
	background-image: url("../images/command2.png");
	background-position: -1px -1px;
	position: relative;
	top: 7px;
}
.wiz-button:hover {
	background-color: #0264AF;
}

.wiz-button:active,
.wiz-button.active{
	background-color: #005897;
}

.wiz-button:hover,
.wiz-button.hover,
.wiz-button:link,
.wiz-button:active,
.wiz-button.active,
.wiz-button:visited{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

/*--wiz-menubar  组件--*/

.wiz-menu-item{
	display: block;
	padding: 0 15px 2px 7px;
	text-decoration: none;
	cursor: pointer;
	text-decoration: none;
	color: #000;
	line-height: 28px;
}

.wiz-menu-item:hover {
	background-color: #f3f3f3;
}

.wiz-menu-item:active {
	background-color: #0072C6;
	color: #fff;
}
.wiz-menu-item span {
	font-size: 102%;
}

.wiz-menu-item img {
	margin: 0 5px 0 7px;
	width: 8px;
	height: 11px;
}

.wiz-menu {
	background: #fff;
	border: 2px solid #000;
	position: absolute;
	visibility: hidden;/* 调试显示 */
	margin: 0;
	padding: 5px 0;
	list-style: none;
	z-index: 4000001;
	min-width: 130px;
	top: 0;
	left: 0;
	text-align: left;
}


/*--------------------------wiz插件----------------------------------*/

/*----------------------------------------------*/
.main-container{
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.opacity-layer {
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: literal("alpha(opacity=0)");
	z-index: 9999999;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	position: absolute;
	left: 0px;
	top: 0px;
}


/*-------------------------群组入口显示模块---------------------------------*/

.header_group_ct {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	height: 0px;
	background-color: #1D1D1D;
	z-index: 10001;
	display: none;
	padding: 37px;
}

.header_group_bg {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10000;
}
.group-list {
	position: relative;
	height: 120px;
	left: 0;
	right: 0;
	overflow: hidden;
	white-space: nowrap;
}

.group-list a, .group-list li {
	width: 120px;
	height: 120px;
	float: left;
	color: #fff;
	margin-right: 10px;
	background: #666;
	margin-bottom: 6px;
	top: 2px;
	left: 2px;
}

.group-list a:hover {
	border: 2px solid #325068;
}
/*-----------------------------顶部css--------------------------------------*/


/* 过场动画 */
.head-flyingDots-ct {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.head-flyingDots {
	width: 100%;
	height: 4px;
}

.loading-fallback{
	background-image:url(../images/flyingdots.gif);
	background-size:100% 4px;
	height: 4px;
}
.sending-fallback {
	background-image:url(https://a.gfx.ms//common/spinner_white_40.gif);
	background-size:20px 20px;
	background-color: #0072C6;
	color: #fff;
	height: 20px;
	width: 20px;
	display: inline-block;
}

/* 过场动画结束 */


.header-container {
	height: 40px;
	cursor:auto;
	background: #0072C6;
}

.header-left a:hover {
	background-color: #015DA0;
}
.h-link {
	display: inline-block;
	height: 40px;
	top:0;
	padding: 0;
	margin: 0;
	border: 0;
	cursor: pointer;
}
.header-left {
	float: left;
	height: 40px;
}

.header-md{
	float: left;
	height: 40px;
	margin: 0;
	position: relative;
}
.header-right {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 40px;
	_float: right;
}
.logo-split {
	border-left: 1px solid #f0f0f0;
	height: 20px;
	display: inline-block;
	margin-bottom: 8px;
	padding: 0;
	opacity: .65;
	filter: alpha(opacity=65);
}

.logo {
	top:0;
	padding: 0 ;
	margin: 0 5px;
	border: 0;
	cursor: pointer;
}

.logo-img {
	padding: 0;
	border: 0;
	margin: -1px 0 0 0;
	height: 40px;
}

.group-entry {
	position: relative;
	width: 23px;
	margin: 0;
	border: 0;
	padding-left: 10px;
	display: none;
}


.g_menu_span {
	position: absolute;
	top: 17px;
	vertical-align: top;
}


/*选择排序*/
.menu-ct {
	font-size: 88%;
	padding-top: 15px;
}
/*选择排序*/


/*顶部右侧*/
.header-right {
	padding-right: 10px;
}
.hd-ct {
	display: inline-block;
	height: 40px;
}

.hd-ct >a {
	height: 30px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#user_menu {
	top: 38px;
	right: 10px;
	border-color: #0072C6;
}

/*页面设置模块*/
.setting-hd-ct {
	display: inline-block;
	height: 40px;
}


.u-hd {
	display: inline-block;
	vertical-align: top;
	float: left;
}
.u-menu {
	display: inline-block;
}

.u-name {
	display: inline;
	vertical-align: top;
	overflow: hidden;
}

.u-img{
	display: inline-block;
	padding-left: 5px;
}
.u-img img {
	height: 20px;
	width: 20px;
}



/*--------------------------------------------------------*/
.below-container,
.edit-page-wrapper {
	position:absolute;
	top: 40px;
	_height: 100%;
	_width: 100%;
	_top: 42px;
	bottom: 0;
	right: 0;
	left: 0;
}


/*----------------------左侧树------------------------*/
.content-left{
	width: 180px;
	height: 100%;
	top: 0;
	left: 0;
	background: #f0f0f0;
	min-width: 100px;
	max-width: 80%;
	z-index: 2;
	overflow: hidden;
	position: absolute;
}
.search-box-content {
	position: relative;
	height: 40px;
}

.search-box {
	position: absolute;
	right: 10px;
	left: 10px;
	top: 10px;
	bottom: 10px;
}
.search-box-md {
	position: relative;
	height: 28px;
	border: 1px solid #BBB;
	background-color: white;
	padding: 0 35px 0 0;
	z-index: 100;
}
.search-box-md:hover {
	border: 1px solid #888;
}

.search-box-input {
	width: 100%;
	height: 20px;
	border: 0;
	padding: 5px 0 1px 0;
	margin: 0px 0 0 6px;
	z-index: 99;
}
.search-box-btn {
	width: 15px;
	height: 16px;	
	padding: 0;
	border: 0;
	background: url(../images/search.png) no-repeat;
	cursor: pointer;
	top: 6px;
	right: 8px;
	position: absolute;
}

.ztreeContainner {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	margin-top: 7px;
	top: 40px;
	left: 0;
	bottom: 0;
	right: 0;
}
/*---------------------------右侧文档列表和文档内容-----------------------*/

.content-right{
	position: absolute;
	left: 180px;
	top: 0;
	right: 0;
	bottom: 0;
	min-width: 30em;
	overflow: hidden;
	z-index: 3;
	_width: 82%;
	_height: 100%;
}

.splitter {
	position: absolute;
	height: 100%;
	width: 5px;
	top: 0;
	overflow: hidden;
	cursor: col-resize;
	z-index: 5;
}


/*-----------------------------文档列表-------------------------------*/
#left_splitter {
	left: 180px;
}

#content_splitter {
	left: 21em;
}


/*排序模块*/
.sort-filter-contanier {
	display: block;
	height: 50px;
	margin-bottom: 1px;
	z-index: 999;
}
.sort-split {
	border-bottom: 1px solid #ccc;
	margin: 0 20px;
	clear: both;
	position: relative;
	top: 48px;
}

.sort-filter-wrapper {
	height: 100%;
	margin: 0 20px;
	clear: both;
	position: relative;
}

.active {
	background-color: gray;
}


/*文档列表模块*/

#doc_list_containner_wrapper {
	position: absolute;
	width: 21em;
	height: 100%;
	min-width: 120px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.doc-single{
	vertical-align: top;
}

.table {
	width: 100%;
	table-layout: fixed;
	color: #666;
	cursor: pointer;
}
.table tr, .table td, .title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table tr {
	height: 50px;
	line-height: 142%;
}

.table tr:hover {
	background-color: #F3F3F3;
}

.table tr.doc-active {
	background-color: #0072C6;
	color:#FFF6F0;
}

.tnd {
	padding-top: 5px;
	width: 100%;
}
.dt {
	font-weight: normal!important;
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif"!important;
	padding-left: 15px;
	float: right;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 86%;
}

.info {
	padding: 0 19px 0 21px;
}

.CK {
	vertical-align: top;
	padding-left: 17px;
	width: 23px;
	display: none;/*暂时先隐藏该功能，以后编辑版本的时候再显示 2012-11-26 * lsl*/
}

.CK div {
	padding: 5px 10px 0 0;
}


/*----------------------右侧文档内容-------------------*/
.doc-detail-ct {
	min-width: 10%;
	left: 21em;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 20px;
	position: absolute;
	overflow: scroll;
	_width: 70%;
	_height: 100%;
}

.params-title {
	padding: 5px 0;
}
.params-title h2 {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.d-brief-info {
	height: 35px;
}

/*底部的分割线*/
.bottom-line {
	border-bottom: 1px solid #ccc;
}

.frame-ct {
	position: absolute;
	top: 45px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	*top: 48px;
}

.frame-ct iframe {
	width: 100%;
	height: 100%;
}

/* outlook loading */

@-moz-keyframes makedotfly{
	0%{left:0;-moz-animation-timing-function:cubic-bezier(.01,.55,1,1)}
	32%{left:40%}
	62%{left:58%;-moz-animation-timing-function:cubic-bezier(.3,.1,1,1)}
	80%{left:105%}
	100%{left:105%}
}

@-ms-keyframes makedotfly{
	0%{left:0;-ms-animation-timing-function:cubic-bezier(.01,.55,1,1)}
	32%{left:40%}
	62%{left:58%;-ms-animation-timing-function:cubic-bezier(.3,.1,1,1)}
	80%{left:105%}
	100%{left:105%}
}

@-webkit-keyframes makedotfly{
	0%{left:0;-webkit-animation-timing-function:cubic-bezier(.01,.55,1,1)}
	32%{left:40%}
	62%{left:58%;-webkit-animation-timing-function:cubic-bezier(.3,.1,1,1)}
	80%{left:105%}
	100%{left:105%}
}

@keyframes makedotfly{
	0%{left:0;animation-timing-function:cubic-bezier(.01,.55,1,1)}
	32%{left:40%}
	62%{left:58%;animation-timing-function:cubic-bezier(.3,.1,1,1)}
	80%{left:105%}
	100%{left:105%}
}

div.c_flyingDots, 
div.c_loadingTrack {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 4px;
}
div.c_flyingDots, 
div.c_loadingTrack5 {
	left: -3%;
	margin-left: 15px;
}
div.c_flyingDots, 
div.c_loadingTrack4 {
	left: -6%;
	margin-left: 30px;
}
div.c_flyingDots, 
div.c_loadingTrack3 {
	left: -9%;
	margin-left: 45px;
}
div.c_flyingDots, 
div.c_loadingTrack2 {
	left: -12%;
	margin-left: 60px;
}
div.c_flyingDots, 
div.c_loadingTrack1 {
	left: -15%;
	margin-left: 75px;
}

div.c_flyingDots, 
div.c_loadingTracks {
	position: absolute;
	left: 10%;
	top: 0;
	right: -15%;
	bottom: 0;
}
div.c_loadingTrack5 div.c_loadingDot {
	-moz-animation-delay: .9s;
	-ms-animation-delay: .9s;
	-webkit-animation-delay: .9s;
	animation-delay: .9s;
}
div.c_loadingTrack4 div.c_loadingDot {
	-moz-animation-delay: .75s;
	-ms-animation-delay: .75s;
	-webkit-animation-delay: .75s;
	animation-delay: .75s;
}
div.c_loadingTrack3 div.c_loadingDot {
	-moz-animation-delay: .6s;
	-ms-animation-delay: .6s;
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}
div.c_loadingTrack2 div.c_loadingDot {
		-moz-animation-delay: .45s;
		-ms-animation-delay: .45s;
		-webkit-animation-delay: .45s;
		animation-delay: .45s;
}
div.c_loadingTrack1 div.c_loadingDot {
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
div.c_flyingDots.c_dotsPlaying,
div.c_loadingDot {
	-moz-animation: makedotfly 3.3s linear .1s infinite normal;
	-ms-animation: makedotfly 3.3s linear 0 infinite normal;
	-webkit-animation: makedotfly 3.3s linear 0 infinite normal;
	animation: makedotfly 3.3s linear 0 infinite normal;
}
div.c_flyingDots,
div.c_loadingDot {
	width: 4px;
	height: 4px;
	border-radius: 6px;
	background-color: #fff;
}
div.c_loadingDots,
div.c_loadingDot {
	position: absolute;
	left: 0;
	bottom: 0;
}
/* outlook loading */

/* edit page */


/* edit-params */
.edit-params {
	position: absolute;
	left: 0;
	right: 70%;
	top: 0;
	bottom: 0;
	padding: 20px;
	background-color: #f3f3f3;
	z-index: 2;
	font-size: 110%;
	_height: 100%;
}

.params-category,
.params-tags {
	padding-bottom: 20px;
}

.params-tags-wrapper {
	height: 35px;
	padding: 2px 0;
	width: 100%;
}
#params_category {
	width: 350px;
}
.params-tags-wrapper input {
	width: 344px;
	height: 100%;
	padding: 0 13px;
}
/* edit-params */
/* edit-content */
.edit-content {
	position: absolute;
	left: 30%;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	padding: 8px 25px;
}
.edit-title {
	position: relative;
	width: 100%;
	height: 42px;
	padding: 0 0 10px 5px;
	border-bottom: 1px solid #ccc;
}
.edit-title .save-area {
	position: absolute;
	width: 150px;
	font-size: 86%;
	color: #666;
	right: 0;
	bottom: 20px;
	text-align: right;
}
.edit-title .title-area {
	margin-right: 150px;
	padding-right: 30px;
	height: 42px;
}
.edit-title .title-area input {
	width: 100%;
	height: 100%;
	font-size: 192%;
	border: 0;
	padding: 0;
}
.editor-wrapper {
	height: 100%;
}
/* edit-content */
/* edit page */
