<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="clear.css">
		<link rel="stylesheet" href="tmpl.css">
		<title>Wiz template</title>
	</head>
	<body>
		<!-- 页面顶部 -->
		<div class="hd">
			<!-- 导航栏 -->
			<div class="nav-ct">
			</div>
			<div class="split"></div>
		</div>
		<!-- 页面内容 -->
		<div class="bd">
			<!-- 页面概述 -->
			<div class="outline">
				
			</div>
			<div class="main-content"></div>
		</div>
		<!-- 页脚 公司相关信息 -->
		<div class="ft">
			
		</div>
	</body>
</html>