/* CSS Document */

h3 {
	color: #3B3B3B;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 24px;
	margin-bottom: 5px;
	text-decoration: none;
	text-overflow: clip;
}
.tour {
	border: 0px #009966 solid;
	width: 380px;
	height: 70px;
	margin-top: 10px;
	margin-top: 8px;
	border-bottom: 1px solid #BDBDBD;
}

#img1 {
	background-image: url(../images/wiz-tour1@2x.png);
	height: 55px;
	width: 52px;
	float: left
}

#img2 {
	background-image: url(../images/wiz-tour2@2x.png);
	height: 55px;
	width: 52px;
	float: left
}

#img3 {
	background-image: url(../images/wiz-tour3@2x.png);
	height: 55px;
	width: 52px;
	float: left
}

.title1 {
	float: left;
	width: 310px;
	height: 20px;
	border: 0px #990000 solid;
	margin-top: 5px;
	margin-left: 5px;
}

.content {
	float: left;
	width: 310px;
	height: 35px;
	border: 0px #990000 solid;
	margin-top: 3px;
	margin-left: 5px;
}

.logo-bar {
	background-color: #F5F5F5;
	border-bottom: 1px solid #B3B3B3;
	height: 77px;
	width: 100%;
}

.evernote-logo {
	background: url(../images/logo.png);
	width: 193px;
	height: 70px;
	margin-left: 35px;
	margin-top: 9px;
}



.WizLogo {
	width: 200px;
	height: 120px;
	padding: 0;
	border: 0;
	margin: 0;
}
.Et8Logo {
	width : 200px;
	height : 80px;
	padding : 0;	
	margin : 0 0 20px 0;
}

.formBody {
	margin: auto;
	background: url("../images/success-background.png") no-repeat center;
	border: 1px solid #DFE3E6;
	/* border: 1px solid #DFE3E6;
	background-color: #FBFBFD; */
	height: 435px;
	width: 417px;
}

.formTable p {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding: 0 20px 0 0;
}

.topTip {
	text-align: left;
	margin-top: 47px;
	*margin-left: -220px;
	*margin-top: 40px;
}
*+html .topTip {
	margin-left: -220px;
	margin-top: 40px;
}
.username {
	margin: 9px;	
}
	
.username p {
	margin:5px 0 0 5px;	
	*margin : 0 !important;
	*margin : 0;
}
	
.register {
	font-size: 15px;
	font-weight: bolder;
	line-height: 15px;
	width: 100%;
	*font-size: 17px !important;/*for ie7*/
}

.tipVerify {
	padding-top: 4px;
	font-size: 14px;
}

.formTable {
	text-align: left;
	*margin: -5px 0 0 0 !important;
	*line-height:23px;
}

.submit {
	width: 128px;
	height: 27px;
	font-size: 14px;
	font-weight: bolder;
}

.fError {
	height: 25px;
	margin:5px;
	color: #FF0000;
	font-size: 18px;
	font-weight: bold;
}

/*success.html页面*/
.successBody {
	margin:auto;
	font-size: 15px;
	background: url("../images/success-background.png") no-repeat;
	border: 1px solid white;
	/* border: 1px solid white;
	background-color: #FBFBFD; */
	height: 482px;
	width: 795px;
}

.okImg {
	width: 40px;
	height: 40px;
	float: left;
	margin: 57px 0 0 42px;
}

.barright {
	text-align: left;
	margin: 61px 0 0 90px;
}

.download {
	padding: 0;
	margin: 0;
}

.successMsg {
	font-size: 27px;
	font-weight: bolder;
}

.wizHelp {
	width: 90%;
	line-height: 30px;
}


/*button*/
.buttons {
	overflow: hidden;
	*margin-top : 10px!important;
	*width:100%;/*ie6不设置的话不自动换行*/
}

.buttons .button {
	float: left;
	margin: 0 10px 0 0;
}

a.button {
	background: #707070;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 1px;
}

a.button span {
	background: #DBDBDB url("../images/button-background-web.png") repeat-x top center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	display: block;
	padding: 10px 24px;
	text-shadow: #FFF 0 1px 0;
	font-weight: bold;
	font-size: 1em;
}


.download {
	padding: 20px 0 0 0 ;
	*margin: 20px 0 0 0 !important;/*ie7 设置padding无效*/	
	font-size: 16px;
	width: 508px;
}
.download td {
	*height : 44px;
}

*+html .download tr {
	height: 44px;
}